[submodule "KernelSU"]
	path = KernelSU
	url = https://github.com/Baka-SU/BakaSU
[submodule "susfs4ksu"]
	path = susfs4ksu
	url = https://gitlab.com/simonpunk/susfs4ksu
[submodule "Baseband-guard"]
	path = Baseband-guard
	url = https://github.com/vc-teahouse/Baseband-guard
[submodule "Droidspaces-OSS"]
	path = Droidspaces-OSS
	url = https://github.com/ravindu644/Droidspaces-OSS
[submodule "Re-Kernel"]
	path = rekernel
	url = https://github.com/Sakion-Team/Re-Kernel
